.gallery-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gallery-box {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 75px 300px;
    grid-auto-rows: 300px;
}

.gallery-title {
    display: flex;
    justify-content: center;
    grid-column: 1 / span 3;
    margin: 20px 0;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-item > img {
    margin-bottom: 10px;
}