@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');

.resume-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 250px 150px 300px 300px 300px;
    width: 90%;
}

.portrait-container {
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

.resume-portrait {
	display: grid;
	width: 220px;
}

.name-job {
	display: grid;
	grid-row-start: 1;
	grid-column-start: 2;
}

.name-job h1 {
	margin-top: auto;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

.name-rule {
    margin: auto;
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#3a3a3a;
    height: 2px;
}

.contact-info {
	margin-left: auto;
	margin-right: auto;
	width: 220px;
    font-size: 15px;
    color: black;
    padding-top: 50px;
    padding-left: 10px;
    text-align: center;
    display: grid;
    grid-row-start: span 3;
    grid-column-start: 1;
    border: 2px solid grey;
    margin-bottom: 20px;
}

.resume-blob {
	margin: auto;
}

.resume-blob h2 {
	margin-bottom: 10px;
}

.statement-rule {
    margin: auto;
    margin-top: 35px;
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#3a3a3a;
    height: 2px;
}

