@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Jost:wght@400;700&display=swap");

/* font-family: 'Cabin', sans-serif; */
/* font-family: 'Jost', sans-serif; */

p {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  color: rgb(46, 64, 102);
}

.section-heading-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5px;
}

.section-heading {
  color: rgb(46, 64, 102);
  font-family: "Jost", sans-serif;
  padding-left: 20px;
}

.resume-container {
  display: grid;
  grid-template-columns: 325px 25px 1fr;
  grid-template-rows: 200px 2fr 1fr;
  width: 1000px;
  height: 1200px;
  margin: 40px auto 0;
  transform: skewY(7deg);
  margin-top: -80px;
}

.portrait-container {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 25px; */
  height: 125px;
}

.resume-portrait {
  margin-top: 25px;
  width: 175px;
  border-radius: 50%;
  border: 4px solid rgb(189, 205, 234);
}

.name-job {
  grid-row-start: 1;
  grid-column-start: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  background: rgb(46, 64, 102);
  text-align: center;
  margin: 20px;
}

.big-name {
  font-size: 3.5em;
  letter-spacing: 0.75rem;
  width: 100%;
  color: white;
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
}

.title-text {
  color: white;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: large;
  margin-bottom: 10px;
  letter-spacing: 0.25rem;
}
/* 
.name-job h1 {
  font-size: 4em;
  width: 100%;
  color: white;
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
} */

.name-rule {
  /* margin: auto; */
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #3a3a3a;
  height: 2px;
}

.statement {
  grid-row-start: 2;
  grid-column-start: 3;
}
.statement > h2 {
  margin: 20px 0 10px;
}

.contact-info {
  background: rgb(46, 64, 102);
  width: 100%;
  height: 100%;
  /* max-height: 800px; */
  font-size: 15px;
  color: black;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-row-start: 1;
  grid-row-end: 4;
  margin-bottom: 20px;
  align-items: flex-start;
  /* border-radius: 10px; */
}

.contact-section {
  padding-top: 40px;
}

.contact-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}

.right-heading {
  color: white;
  padding-left: 20px;
  font-family: "Jost", sans-serif;
  font-size: 1.25rem;
}

.row-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.left-heading {
  color: rgb(96, 190, 255);
  padding-left: 20px;
  font-family: "Jost", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
}

.left-date {
  color: rgb(46, 64, 102);
  font-family: "Cabin", sans-serif;
  font-size: 1.25rem;
}

.row-content {
  padding-left: 40px;
}

.row-details {
  color: rgb(46, 64, 102);
  font-family: "Cabin", sans-serif;
}

.row-bold {
  font-weight: 700;
}

.about-me-text {
  width: 70%;
  padding-left: 55px;
  padding-top: 20px;
  text-align: left;
  font-family: "Cabin", sans-serif;
}

.contact-list {
  color: white;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  text-align: left;
  line-height: 2rem;
  padding: 10px 0 0 55px;
}

.contact-list a {
  text-decoration: none;
  color: white;
  font-family: "Cabin", sans-serif;
}
.contact-list a:hover {
  opacity: 0.8;
}

.contact-item {
  width: 100%;
  height: 100%;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.contact-info p {
  color: white;
}

.contact-item img {
  margin-bottom: 10px;
}

.contact-item a {
  text-decoration: inherit;
  color: white;
}

.experience-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 55px;
  padding-top: 10px;
}

.experience-title {
  font-size: 0.9rem;
}

.experience-row {
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  width: 90%;
  padding-bottom: 7px;
  font-family: "Cabin", sans-serif;
}

.experience-bar {
  width: 58%;
  height: 10px;
  background: white;
  display: flex;
  justify-content: flex-start;
}

.blue-bar {
  width: 10%;
  height: 100%;
  background: rgb(96, 190, 255);
}

.html,
.css,
.express {
  width: 55%;
}

.javascript,
.react {
  width: 65%;
}

.photoshop,
.sales {
  width: 78%;
}

.illustrator {
  width: 90%;
}

.disc {
  width: 25%;
}

.clickable:hover {
  opacity: 0.9;
}

.resume-info {
  grid-row-start: 3;
  grid-column-start: 3;
}
.resume-blob {
  margin: 0 auto;
  text-align: justify;
}

.resume-blob h2 {
  margin: 20px 0 10px;
}

.resume-list {
  color: dimgray;
  list-style-type: none;
}
.resume-list li {
  margin: 10px 0 10px 20px;
  color: dimgray;
  list-style-type: none;
}

.statement-rule {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #3a3a3a;
  height: 3px;
}

@media (max-width: 1024px) {
  .resume-container {
    width: 700px;
  }
  .statement {
    grid-column: 1 / span 3;
    text-align: justify;
  }
}

@media (max-width: 699px) {
  .resume-container {
    width: 350px;
    grid-template-columns: 1fr;
    grid-template-rows: 215px 215px 1fr 3fr 0.5fr;
  }
  .name-job {
    grid-row-start: 2;
    grid-column-start: 1;
  }
  .statement {
    grid-column: 1;
    grid-row-start: 3;
    text-align: justify;
  }
  .resume-info {
    grid-row-start: 4;
    grid-column-start: 1;
  }
  .contact-info {
    grid-row-start: 5;
    width: 100%;
    height: 100%;
    max-height: 800px;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    border-radius: 10px;
    margin-top: 20px;
  }
  .contact-item {
    font-size: 0.8em;
  }
}
